
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="card m-3 border-success">
                <h5 class="card-header text-center text-white bg-success">Search Flight</h5>
                <div class="card-body">
                    <form [formGroup]="flightSearchForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
                        <div style="margin-left: 30px;">
                            <div class="form-row">
                                <div class="form-group m-2 col-md-5">
                                    <input type="radio" formControlName="tripType" value="oneWay" name="tripType" [ngClass]="{ 'is-invalid': isSubmitted && f.tripType.errors }"/>
                                    <label>&nbsp;One Way</label>
                                </div>
                                <div class="form-group m-2 col-md-5">
                                    <input type="radio" formControlName="tripType" value="twoWay" name="tripType" [ngClass]="{ 'is-invalid': isSubmitted && f.tripType.errors }"/>
                                    <label>&nbsp;Two Way</label>
                                    <div *ngIf="isSubmitted && f.tripType.errors" class="invalid-feedback">
                                        <div *ngIf="f.tripType.errors.required">Please select one option</div>
                                    </div>
                                </div>
                           </div>
                           <div class="form-row">
                                <div class="form-group m-2 col-md-5">
                                    <label>From Place</label>
                                    <input type="text" formControlName="fromPlace" placeholder="From Place"
                                    class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.fromPlace.errors }"/>
                                    <div *ngIf="isSubmitted && f.fromPlace.errors" class="invalid-feedback">
                                        <div *ngIf="f.fromPlace.errors.required">From Place is required</div>
                                    </div>
                                </div>
                                <div class="form-group m-2 col-md-5">
                                    <label>To Place</label>
                                    <input type="text" formControlName="toPlace" placeholder="To Place"
                                    class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.toPlace.errors }"/>
                                    <div *ngIf="isSubmitted && f.toPlace.errors" class="invalid-feedback">
                                        <div *ngIf="f.toPlace.errors.required">To Place is required</div>
                                    </div>
                                </div>
                           </div>
                           <div class="form-row">
                                <div class="form-group m-2 col-md-5">
                                    <label>From Date</label>
                                        <input type="date" formControlName="fromDate"
                                        class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.fromDate.errors }"/>
                                        <div *ngIf="isSubmitted && f.fromDate.errors" class="invalid-feedback">
                                            <div *ngIf="f.fromDate.errors.required">From Date is Required</div>
                                        </div>
                                </div>
                                <div class="form-group m-2 col-md-5">
                                    <label>To Date</label>
                                        <!-- <input type="date" formControlName="toDate"
                                        class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.toDate.errors }"/>
                                        <div *ngIf="isSubmitted && f.toDate.errors" class="invalid-feedback">
                                            <div *ngIf="f.toDate.errors.required">End Date is Required</div>
                                        </div> -->
                                        <input type="date" formControlName="toDate" class="form-control"/>
                                </div>
                           </div>
                        </div>
                       <div class="text-left text-center">
                            <button class="btn btn-success btn-sm m-2">Search</button>
                            <button type="reset" class="btn btn-danger btn-sm m-2" (click)="onReset()">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-">
            
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr class="text-center bg-success text-white">
                    <th>Airline Logo</th>
                    <th>Airline Name</th>
                    <th>Flight Number</th>
                    <th>From Place</th>
                    <th>To Place</th>
                    <th>Price</th>
                    <th>Actions</th>
                  </tr>
            </thead>
              <tbody>
                <tr *ngFor="let row of flightSearchData">
                    <td><img src="{{row.airlineLogo}}" alt="" height="35" width="45"></td>
                    <td>{{row.airlineName}}</td>
                    <td>{{row.flightNumber}}</td>
                    <td>{{row.placeFrom}}</td>
                    <td>{{row.placeTo}}</td>
                    <td>{{row.price}}</td>
                    <td class="text-center">
                        <button class="btn btn-warning btn-sm m-1" (click)="navigateToBooking(row)">Book</button>
                    </td>
                  </tr>
              </tbody>
          </table>
    </div>
</div>
